.mainContainer {
  display: flex;
  justify-content: space-between;
  padding: 0px 2.5vw;
}
.boxFood {
  margin: 0 2vw;
  border-radius: 10px;
  box-shadow: 0px 13px 30px #141e3069;
  background-color: #e3e3e3;
  color: lightgrey;
  transition: 0.3s ease;
  overflow: hidden;
}
.boxFood:hover {
  transform: translateY(-4px);
}
.boxFood:first-child {
  margin-left: 0;
}
.boxFood:last-child {
  margin-right: 0;
}
.img {
  overflow: hidden;
}
.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.title {
  padding: 0px 20px;
  padding-bottom: 8px;
}
.name {
  font-size: 0.9em;
}
.foodName {
  display: block;
  font-size: 1.3em;
  text-align: center;
  padding: 8px;
  text-decoration: none;
  color: #141e30;
  transition: 0.3s ease;
  background-color: #e3e3e3;
  height: 38px;
  overflow: hidden;
  margin-bottom: 5px;
  border-bottom-color: transparent;
}
.foodName:hover {
  color: orangered;
}
.foodInstitution {
  text-decoration: none;
  color: #141e30;
  display: flex;
  align-items: center;
}
.foodInstitution:hover {
  color: orangered;
}
.partner {
  border: 1px solid rgba(128, 128, 128, 0.6);
  padding: 2px 5px;
  border-radius: 4px;
  margin-right: 10px;
}
@media (max-width: 1100px) {
  .partner {
    display: none;
  }
  .name {
    font-size: 0.8em;
  }
}
@media (max-width: 950px) {
  .mainContainer {
    padding: 0;
  }
  .name {
    font-size: 0.8em;
  }
}
@media (max-width: 750px) {
  .title {
    font-size: 0.9em;
  }
  .foodInstitution {
    display: none;
  }
}
@media (max-width: 650px) {
  .mainContainer {
    padding: 0px 15vw;
    flex-direction: column;
  }
  .boxFood {
    margin: 0;
    margin-bottom: 5vh;
  }
  .boxFood:last-child {
    margin-bottom: 0px;
  }
  .foodInstitution {
    display: flex;
  }
  .partner {
    display: block;
  }
  .name {
    font-size: 1em;
  }
}
@media (max-width: 550px) {
  .mainContainer {
    padding: 0px 10vw;
  }
}
@media (max-width: 500px) {
  .mainContainer {
    padding: 0px 4vw;
  }
}
@media (max-width: 350px) {
  .foodInstitution {
    display: none;
  }
}
