.loader {
  margin: auto;
  margin-top: 30vh;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 5px solid grey;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: spin 1.2s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
