.imgHeader {
  width: 60%;
  margin-left: 1.5vw;
  display: flex;
  flex-direction: column;
  padding: 0 20px;

  justify-content: space-evenly;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
}
.imgHeader .img {
  /* margin: auto; */
  /* background-color: black; */
  border-radius: 10px;
  /* border-top: 1.5px solid lightgrey; */
  /* border-left: 1px solid rgba(211, 211, 211, 0.685); */
  overflow: hidden;
  /* padding: 4vh; */
  height: 45vh;

  /* box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.596),
    0px 5px 12px rgba(0, 0, 0, 0.596); */
}
.imgHeader .img img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  animation: fade 2s ease;
  filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.5));
}
.textSideBar {
  width: 40%;
  border-radius: 10px;
  display: flex;
  padding: 5vh 20px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title span {
  margin-left: 10px;
  font-size: 1.2em;
}
.title *:not(span) {
  font-size: 2em;
}
.header {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: lightgrey;
  position: relative;
  z-index: 2;
}
.blockLinks {
  display: flex;
}
.link {
  background: transparent;
  padding: 20px 30px;
  color: lightgrey;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(211, 211, 211, 0.514);
  margin-left: 10px;
  transition: 0.3s ease;
}
.linkCategories {
  background-color: #1f2d47;
  border: none;
  text-shadow: 0px 0px 6px black;
  border: 1.2px solid lightgrey;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.316),
    inset 0px 0px 15px rgba(0, 0, 0, 0.216), 0px 0px 12px rgba(0, 0, 0, 0.134),
    0px 10px 12px rgba(0, 0, 0, 0.334);
}
.linkCategories:hover {
  background-color: #1f2d47 !important;
  color: lightgrey !important;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.616),
    inset 0px 0px 15px rgba(0, 0, 0, 0.216);
}
.link span {
  margin-left: 10px;
}
.link:nth-child(1) {
  margin-left: 0;
}
.link:hover {
  background-color: rgba(211, 211, 211, 0.664);
  color: #333;
}
.link:active {
  transform: scale(0.9);
}
.wrapperHeader {
  min-height: 100vh;
  width: 1300px;
  max-width: 100%;
  padding: 100px 4vw 20px 4vw;
  margin: 0 auto;
  display: flex;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 90px rgba(51, 51, 51, 0.697);
}
.paragraphMain {
  text-align: center;
  font-size: 1.4em;
}
.imgTitle {
  text-align: center;
  font-weight: normal;
  /* box-shadow: inset 0px 0px 12px #101620a9; */
  border-radius: 10px;
  font-size: 1.2em;
  /* text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.651); */
  /* padding: 20px 0; */
  /* background-color: #141e3059; */
}
.imgBackgroundCircle {
  position: absolute;
  z-index: -1;
  opacity: 1;
  animation: fade 5s ease;
}
.circle1 {
  right: 0;
  top: 77px;
  width: 30vw;
  opacity: 0.9;
  filter: drop-shadow(0px 0px 28px #141e30);
}
.circle2 {
  bottom: 6vw;
  left: 0;
  width: 12vw;
  filter: drop-shadow(0px 0px 38px #141e304d);
  opacity: 0.9;
}
.circle3 {
  bottom: 3vw;
  left: -600px;
  width: 59vw;
  filter: drop-shadow(0px 0px 38px #141e30);
  opacity: 0.9;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.imgTitle h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgTitle h2 span {
  margin-left: 10px;
}
.imgTitle h2 *:not(span) {
  font-size: 1.5em;
}
.quickLinkBlock {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.quickLink {
  padding: 20px;
  border: 1px solid transparent;
  margin-left: 6px;
  color: lightgrey;
  background-color: rgba(211, 211, 211, 0.274);
  border-radius: 5px;
  transition: 0.3s ease;
  text-decoration: none;
}

.quickLink:hover {
  border-color: rgba(211, 211, 211, 0.589);
}
.contactsBlock {
  background-color: #141e304f;
  border-radius: 5px;
  padding: 10px;
}

.contactsBlock span {
  display: flex;
  align-items: center;
}
.contactsBlock span span {
  margin: 0px 10px;
}
.wrapper_main {
  min-height: 100vh;
  width: 1300px;
  max-width: 100%;
  padding: 20px 4vw;
  margin: 0 auto;
  box-shadow: 0px 0px 90px rgba(51, 51, 51, 0.26);
  background-color: rgba(255, 255, 255, 0.9);
}

.titlePopular {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;

  align-items: center;
}
.titlePopular .titleCategory {
  padding: 10px;
  font-size: 2.2em;
  border: 2px solid orangered;
}
.linkCategory {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 1px solid rgb(160, 158, 158);
  /* background: #141e30; */
  border-radius: 6px;
  color: #333;
  padding: 20px;
  transition: 0.3s ease;
}
.linkCategory:hover {
  transform: scale(1.1);
  color: white;
  background-color: rgb(160, 158, 158);
}
.linkCategory:active {
  transform: scale(0.9);
}
.linkCategory span {
  margin-right: 5px;
}

.wrapperContainer {
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  padding: 0px 25px;
  /* border: 1px solid rgb(185, 185, 185); */
  padding-bottom: 20px;
  /* border: 1px solid black; */
}

.wrapperContainer:nth-child(odd) {
  border-left-color: orangered;
}
.wrapperContainer:nth-child(even) {
  border-right-color: orangered;
}

@media (max-width: 1450px) {
  .circle3 {
    left: -400px;
  }
  .paragraphMain {
    font-size: 1.3em;
    line-height: 28px;
  }
}
@media (max-width: 1250px) {
  .wrapperHeader {
    flex-direction: column;
  }
  .textSideBar {
    width: 100%;
    padding: 2vh 6vw;
  }
  .imgHeader {
    margin: 0;
    margin-top: 2vh;
    width: 100%;
    padding: 2vh 6vw;
  }
  .paragraphMain {
    margin-bottom: 2vh;
  }
  .title {
    margin-bottom: 2vh;
  }
  .textSideBar {
    min-height: 50vh;
  }
  .blockLinks {
    width: 100%;
    justify-content: center;
  }
  .quickLinkBlock {
    justify-content: center;
    margin-bottom: 2vh;
  }
  .contactsBlock {
    margin-top: 2vh;
  }
  .quickLink {
    margin-top: 2vh;
  }
}
@media (max-width: 1050px) {
  .circle2 {
    width: 15vw;
  }
  .circle3 {
    left: -200px;
  }
}
@media (max-width: 800px) {
  .quickLinkBlock {
    justify-content: center;
    margin-bottom: 2vh;
  }
  .quickLink {
    padding: 10px;
  }
}
@media (max-width: 600px) {
  .contactsBlock span {
    margin-top: 10px;
    font-size: 0.9em;
  }
}
@media (max-width: 400px) {
  .contactsBlock span {
    font-size: 0.8em;
  }
}
@media (max-width: 750px) {
  .circle1 {
    width: 70vw;
  }
  .circle2 {
    width: 25vw;
  }
  .paragraphMain {
    font-size: 1.2em;
  }
  .circle3 {
    left: -200px;
    width: 100vw;
  }
  .quickLinkBlock {
    margin-bottom: 1vh;
  }
}
@media (max-width: 500px) {
  .blockLinks {
    flex-direction: column;
    align-items: center;
  }
  .title {
    font-size: 1.5em;
    padding: 2vh 0;
  }
  .link {
    padding: 20px 10vw;
    font-size: 0.9em;
    margin-top: 2vh;
    margin-left: 0px;
  }
  .imgTitle h2 {
    font-size: 1.2em;
    padding: 1vh 0;
  }
}
@media (max-width: 420px) {
  .title {
    font-size: 1.2em;
    padding: 2vh 0;
  }
  .paragraphMain {
    font-size: 1.1em;
  }
}
