.wrapper {
  background-color: #141e30;
  position: fixed;
  top: 0;
  left: 0;

  right: 0;
  z-index: 5;
}
.navbar {
  width: 1300px;
  max-width: 100%;
  padding: 0 4vw;
  margin: 0 auto;
  display: flex;
  min-height: 78px;
  justify-content: space-between;
  position: relative;
}
.centerBlock {
  display: flex;
  align-items: center;
}
.link {
  text-decoration: none;
  color: lightgrey;
  padding: 27px 15px;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
  outline: none;
  transition: 0.2s ease;
}
.link:hover {
  background-color: #1f2d47;
}
.link span {
  margin-left: 5px;
}
.dropLink {
  margin-left: 0;
  margin-left: 5px;
}
.dropLinkActive {
  transition: 0.3s ease;
}
.dropLinkActive {
  background-color: #1f2d47;
}
.linkActive {
  background-color: #1f2d47 !important;
}
.arrowDrop {
  margin-left: 5px;
  transform: rotate(0deg);
  transition: 0.3s ease;
  font-size: 1.2em;
}
.dropLinkActive .arrowDrop {
  transform: rotate(90deg);
}
.logoLink {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: lightgrey;
  font-weight: bold;
  font-size: 1em;
}
.logoLink *:not(.titleLogo) {
  font-size: 1.9em;
}
.titleLogo {
  margin-left: 10px;
  font-size: 1.2em;
}
.resizeBriefLogo {
  font-size: 1em !important;
}
.dropDownMenu {
  position: relative;
}
.activeLink {
  background-color: #1f2d47;
  border-top-color: orangered;
  transform: scale(1.01);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.39);
}
.dropMenu {
  position: absolute;
  width: 300px;
  background-color: #141e30;
  margin-top: 7px;
  border-radius: 10px;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.685),
    0px 10px 30px rgba(0, 0, 0, 0.349);
  z-index: 1;
  transform: scale(0.7);
  padding: 10px 0;
  border-top: 2px solid lightgrey;
  opacity: -1;
  visibility: hidden;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropMenu.activeDrop {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}
.triangeDrop {
  position: absolute;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-bottom-color: lightgrey;
  top: -30px;
  left: 45px;
}
.dropMenu .link {
  margin-left: 0px;
  padding: 20px 0;
  border: none;
}
.dropMenu .link:hover {
  background-color: #1f2d47;
}
.dropMenu .link.activeLink {
  transform: none;
  border-left-color: orangered;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
}
.authBlock {
  display: flex;
}
.linkAdaptive {
  display: none;
}
.btnDropAdaptive {
  font-size: inherit;
  font-family: inherit;
  display: none;
  transition: 0.5s ease;
  padding: 0;
  /* position: absolute; */
  /* left: 50%; */
  /* transform: translateX(-50%); */
  height: 78px;
  margin: 0;
}
.btnDropAdaptive.activeAdaptive span {
  transition: 0.3s ease;
}
.btnDropAdaptive.activeAdaptive span:nth-child(1) {
  transform: translateY(7px) rotateZ(45deg);
}
.btnDropAdaptive.activeAdaptive span:nth-child(2) {
  width: 150px;
  opacity: 0;
}
.btnDropAdaptive.activeAdaptive span:nth-child(3) {
  transform: translateY(-7px) rotateZ(-45deg);
}

.btnDropAdaptive span:first-child {
  margin-top: 0px;
}

@media (max-width: 1250px) {
  .linkAdaptive {
    display: block;
    text-align: center;
  }
  .btnDropAdaptive {
    display: flex;
    width: 100px !important;
    max-width: 100% !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .btnDropAdaptive span {
    width: 30px;
    display: block;
    margin-top: 6px;
    height: 1px;
    background-color: lightgrey;
    transition: 0.3s ease;
    margin-left: 0;
  }
  .centerBlock {
    flex-direction: column;
    justify-content: center;
    position: fixed;
    background-color: #141e30c7;
    background-image: linear-gradient(#141e30b2, rgba(199, 191, 191, 0.2));
    left: 50%;
    top: 78px;
    bottom: 0 !important;
    height: 100%;
    transition: 0.3s ease;
    transform: translateX(-50%);
    width: 100%;
    opacity: 0;
    visibility: hidden;
    height: calc(100vh - 78px);
  }
  .centerBlockAdaptive {
    opacity: 1;
    visibility: visible;
  }
  .centerBlock .link {
    width: 100%;
    margin: 0;
    transform: scale(1);
    box-shadow: none;
    border: none;
    padding: 3vh;
  }
  .centerBlock .link:hover {
    background-color: transparent;
    background-color: rgba(255, 255, 255, 0.05) !important;
  }
  .centerBlock .link.activeLink {
    background-color: transparent;
    background-image: linear-gradient(
      to right,
      transparent,
      rgba(255, 68, 0, 0.4),
      transparent
    );
  }
  .centerBlock .link.activeLink:hover {
    background-color: transparent !important;
    background-image: linear-gradient(
      to right,
      transparent,
      rgba(255, 68, 0, 0.4),
      transparent
    ) !important;
  }
  .dropDownMenu,
  .authAdaptiveLinks {
    display: none;
  }
  .linkActive {
    background-color: transparent !important;
  }
}
@media (max-width: 950px) {
  .resizeBriefLogo {
    display: none;
  }
}
@media (max-width: 420px) {
  .btnDropAdaptive {
    width: 65px !important;
  }
}
